.logo {
  max-height: 100px;
  list-style: none;
  margin-left: 40px;
  margin-right: 50px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 37px;
  margin-left: 10px;
  font: Arial, Helveta, sans-serif;
  font-size: 14px;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
  padding: 7px;
}

nav a:hover,
nav li.active a {
  color: #D7A316;
}

.black-header {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 80px;
}

.red-header {
  background-color: #8B1400;
  padding-left: 100px;
  padding-top: 40px;
}

.header-button:hover {
  fill-opacity: 100%;
}

.phone-button {
  font: Arial, Helveta, sans-serif;
  font-weight: medium;
  font-size: 28px;
  background-color: black;
  border-radius: 30px;
  margin: 0;
  padding: 0 15px 0 15px;
  margin-left: 86px
} 


.estimate-button {
  font: Arial, Helveta, sans-serif;
  font-size: 12px;
  background-color: black;
  border-radius: 40px;
  padding: 12px 20px;
  margin-left: 80px;
} 


footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .black-header {
    display: block;
    margin: 0 auto;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 12px;
  }
}
